<!-- views/index.ejs -->
<% include ./partials/head %>
  <div class="container">

    <div class="jumbotron text-center">
      <h1> Homepage</h1>

      <p>Login or Register with:</p>

      <a href="/user/login" class="btn btn-default">
        <span class="fa fa-user"></span> Login</a>
      <a href="/user/signup" class="btn btn-default">
        <span class="fa fa-user"></span> Signup</a>
    </div>
    

    <!-- test get posts -->
    <div class="row">
      <div class="col-sm-12">
          <div class="well">
              <h3>Render initial 12 posts</h3>
            
              <div class="row posts-list">
                  <% posts.forEach(function(post){ %>
                    <div class="card col-sm-3" style="margin-bottom: 20px;">
                        <img class="card-img-top" src="https://placeimg.com/640/480/any" style="max-width: 100%;" alt="Card image cap">
                        <div class="card-body">
                          <h4 class="card-title"><%= post.postTitle %></h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                          <p>id : <%= post._id; %></p>
                        </div>
                    </div>
                  <% }); %>
              </div>
              <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="col-sm-12 text-center" style="">
                  <button id="getMorePosts" class="btn btn-danger">More Posts</button>

                    <script type="text/html" id="post-template">
                        <div class="card col-sm-3" style="margin-bottom: 20px;">
                            <img class="card-img-top" src="https://placeimg.com/640/480/any" style="max-width: 100%;" alt="Card image cap">
                            <div class="card-body">
                              <h4 class="card-title" data-content="postTitle"></h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                              <p>id : <span data-content="_id"></span></p>
                            </div>
                        </div>
                    </script>

                  </div>
              </div>
          </div>
      </div>
    </div>

    <!-- test create post -->
    <div class="row">
      <div class="col-sm-12">
          <div class="well">
              <h3>Create a post</h3>
            
              <form action="/" class="post-creator-form">
                  
                <input type="hidden" name="_csrf", value="<%= _csrf %>">
                <div class="form-group">
                  <input type="text" class="form-control" id="post-title" placeholder="Post Title" name="name">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary mt-4">Create post</button>
                </div>
              
              </form>
  
            </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
          <div class="well">
              <h3>Search posts title</h3>
              <p>hint : search for "test".</p>
          
              <form action="/" class="post-search-form">
                  
                  <input type="hidden" name="_csrf", value="<%= _csrf %>">
                  <div class="form-group">
                    <input type="text" class="form-control" id="post-title" placeholder="Post Title" name="postTitle">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary mt-4">Search</button>
                  </div>
              
              </form>

              <div class="row search-posts-results">
               
              </div>
  
          </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
          <div class="well">
              <h3>Update a post</h3>
              <p>hint : use "5a305804c944771be41329a4"</p>
          
              <form action="/" class="post-update-form">
                  
                  <input type="hidden" name="_csrf", value="<%= _csrf %>">
                  <div class="form-group">
                    <input type="text" class="form-control" id="post-title" placeholder="Post Title" name="postTitle">

                  </div>
                  <div class="form-group">
                    <input type="text" name="postId" class="form-control" id="postId" placeholder="post id">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary mt-4">Update post</button>
                  </div>
              
              </form>

              <div class="row update-posts-results">
                  
              </div>
  
          </div>
      </div>
    </div>




  </div>
<% include ./partials/footer %>